{% extends 'base.html' %}

{% block title %} Login - Auth-App{% endblock %} 

{% block style %}
<link rel="stylesheet" href="#">
{% endblock %}

{% block content %}
    <div class="login">
        <h1 class="title">Login</h1>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <form method="POST" action="/login">
            {{ form.hidden_tag() }}
            <div class="username">
                {{ form.username.label() }}
                {{ form.username() }}
                <!-- Displays Errors -->
                {% if form.username.errors %}
                    <div class="text">
                        {% for error in form.username.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="password">
                {{ form.password.label() }}
                {{ form.password() }}

                <!-- Displays Errors -->
                {% if form.password.errors %}
                    <div class="text">
                        {% for error in form.password.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="remember">
                {{ form.remember() }}
                {{ form.remember.label() }}
            </div>

            <div class="button">
                {{ form.submit() }}
            </div>
        </form>
        <div class="text-center">
            <small>Need an Account? <a href="{{ url_for(auth.register)}}" class="btn">Register Now</a></small>
        </div>
    </div>
{% endblock %}