{% extends 'base.html' %}

{% block title %}Register - Auth-App{% endblock %}

{% block style %}
<link rel="stylesheet" href="#">
{% endblock %}

{% block content %}

    <div class="register">
        <h1 class="title">Register</h1>
        <div class="message-box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            <div class="username">
                {{ form.username.label() }}
                {{ form.username() }}
                <!-- Displaying Errors -->
                 {% if form.username.errors %}
                    <div class="text">
                        {% for error in form.username.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                 {% endif %}
            </div>
            <div class="password">
                {{ form.password.label() }}
                {{ form.password() }}
                <!-- Displaying Errors -->
                 {% if form.password.errors %}
                    <div class="text">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                 {% endif %}
            </div>
            <div class="confirm-password">
                {{ form.confirm-password.label() }}
                {{ form.confirm-password() }}
                <!-- Displaying Errors -->
                 {% if form.confirm-password.errors %}
                    <div class="text">
                        {% for error in form.confirm-password.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                 {% endif %}
            </div>

            <div class="button">
                {{ form.submit() }}
            </div>
        </form>

        <div class="text-center">
            <small>Already have an Account? <a href="{{ url_for(auth.login)}}" class="btn">Login Now</a></small>
        </div>
    </div>

{% endblock %}